<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <form class="welcome login" 
          th:object="${loginDto}"
          th:action="@{/login}" 
          th:method="post">

        <div class="danger p-1"
             th:each="error : ${#fields.errors()}"
             th:if="${!error.toString().equals('Oops, the username or password is not valid')}"
             th:text="${error}"
        ></div>
        <div class="danger p-1"
             th:each="error : ${#fields.globalErrors()}"
             th:if="${error.toString().equals('Oops, the username or password is not valid')}"
        >Incorrect username or password!
        </div>

        <div class="form-group">
            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Login</span></h1>
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="username" class="h3 mb-2">Username</label>
            </div>
            <input type="text"
                   class="form-control"
                   th:field="*{username}"
                   id="username"
                   name="username"/>
        </div>

        <div class="form-group">
            <div class="label-holder text-white d-flex justify-content-center">
                <label for="password" class="h3 mb-2">Password</label>
            </div>
            <input type="password"
                   class="form-control" 
                   id="password" 
                   th:field="*{password}"
                   name="password"/>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit">Login</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
